@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AspNetCore.Identity.Marten</h1>
    <p class="lead">Marten data store adaptor for <a href="https://github.com/aspnet/Identity">ASP.NET Core Identity</a>, which allows you to build ASP.NET Core web applications, including membership, login, and user data. With this library, you can store your user's membership related data on PostgreSQL through Marten.</p>
</div>